/* element */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: aliceblue;
}

h2 {
    font-family: "Montserrat";
}

h3 {
    font-weight: bold;
}

body {
    font-family: 'Montserrat';
}

.container-fluid {
    padding: 3% 15%;
}



/* Class */
.navbar {
    padding-bottom: 0 0 1.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.0rem;
}

.download-button {
    margin: 3% 3% 3% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

.feature-box {
    text-align: center;
}

.fa-solid {
    color: #ff4c68;
    padding: 5% 5% 10% 0;
}

.fa-solid:hover {
    color: red;
}

.testimonial-image {
    width:10%;
    border-radius: 60%;
    margin: 20px;
}

.press-image {
    width:30%;
    margin: 20px 20px;
}

.carousel-item {
    padding: 10% 15% 5% 15%;    
}



/* ID */

#features {
    padding: 7% 15%;
}

#title {
    background-color: #ff4c68;
}

#testimonials {
    
    text-align: center;
    background-color: #ff4c68;
    color: aliceblue;
}

#press {
    background-color: aliceblue;
    text-align: center;
    padding: 10% 10%;
}